<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

<body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">HOME</a></li>
      
      <li role="presentation"><a href="/location">LOCATION</a></li>
    </ul>
    <br>
    <br>

<div>
    <a href="/takeimage"><button type="button">TAKE IMAGE</button></a>
</div>
</body>
