<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">HOME</a></li>
      <li role="presentation"><a href="/">TAKE IMAGES</a></li>
      <li role="presentation"><a href="/">LOCATION</a></li>
      <li role="presentation"><a href="/control">CONTROL</a></li>
    </ul>
    <br>
    <br>
<div>
    <a href="/control"><button type="button">OFF</button></a>
</div>
</body>